@using WebApplication1.ViewModels
@model List<OffersViewModel>

<form method="post" asp-action="New" asp-controller="Employee">
    <div asp-validation-summary="All" class="text-danger"></div>
    <!--Fill data-->
    <div>
        <label asp-for="offerName"></label>
        <input asp-for="offerName" class="form form-control" />
       // <span asp-validation-for="offerName" class="text-danger"></span>
        

    </div>

  <div>
        <label asp-for="serviceName"></label>
        
        <select asp-for="serviceName" asp-items="DeptItems" class="form form-control">
            <option value="0" > --Select Department-- </option>
        </select>
        <span asp-validation-for="DepartmentID" class="text-danger"></span>

        </div>


    <div>
        <label asp-for="package"></label>

        <select asp-for="package" asp-items="DeptItems" class="form form-control">
            <option value="0"> --Select Department-- </option>
        </select>
        <span asp-validation-for="PackageId" class="text-danger"></span>

    </div>


    <div>
        <label asp-for="typeDiscount"></label>

        <select asp-for="package" asp-items="DeptItems" class="form form-control">
            <option value="0"> --Select Department-- </option>
        </select>
        <span asp-validation-for="PackageId" class="text-danger"></span>

    </div>


    <div>
        <label asp-for="Duration"></label>

        <select asp-for="Duration" asp-items="DeptItems" class="form form-control">
            <option value="0"> --Select Department-- </option>
        </select>
        <span asp-validation-for="PackageId" class="text-danger"></span>

    </div>



    <div>
        <label asp-for="Discount"></label>
        <input asp-for="Discount" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>


    </div>


    <div>

       
      
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>


    </div>

    </form>
